*{
    padding: 0px;
    margin: 0px;
}
.main{
    background-color: blueviolet;
    padding: 0;
    margin: 0px;
}
.first h3{
    text-align: left;
    text-transform: uppercase;
}
.nav{
    display: flex;
    justify-content: space-between
}
.first{
    background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
    width: 100vw;
    height: 700px;
    background-position: bottom;
    background-size: cover;
}
.left{
    display: flex;
    justify-content: left;
    color: white;
}
.right{
    display: flex;
    justify-content: right;
    gap: 30px;
    color: white;
    margin-top: 10px;
}
.btn{
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    background: transparent;
    padding: 10px 20px;
}
.btn:hover{
    border: 1px solid white;
    border-radius: 180px;
    color: black;
    background-color: white;
}
h1{
    margin-top: 150px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.arrow{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.arrowimg{
    width: 80px;
    height: 150px;
    margin-left: 50px;
    align-items: center;
    margin-bottom: 20px;
}
.second{
    width: 100vw;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(2,minmax(200px,1fr));
    grid-template-rows: repeat(3,600px);
}
.cards{
    display: grid;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    font-size: larger;
    padding: 0px 150px;
    box-sizing: border-box;
}
.transform{
    display: grid;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
    /* font-size: 18px; */
    text-transform: uppercase;
}
/* .cards img{
    display: grid;
    width: 900px;
    height: 600px;
    margin-right: auto;
    align-items: left;
} */
.cardsimg1{
    background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-transform.jpg);
    background-size: cover;
    box-sizing: border-box;
}
.cardsimg2{
    background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-stand-out.jpg);
    background-size: cover;
    box-sizing: border-box;
}
.cards button{
    width: 100px;
    height: 50px;
    margin-left: 50px;
}
.cardsbg{
    background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg);
    background-size: cover;
    box-sizing: border-box;
}
.cardsbg2{
    background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg);
    background-size: cover;
    box-sizing: border-box;
}
.cardsbg h3{
    margin-top: 450px;
    margin-left: 300px;
    color: rgb(40, 154, 116);
}
.cardsbg2 h3{
    margin-top: 450px;
    margin-left: 300px;
    color: rgb(0, 105, 150);
}
.cardsbg p{
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 200px;
    color: rgb(40, 154, 116);
}
.cardsbg2 p{
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 200px;
    color: rgb(0, 105, 150);
}
.third{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    border: 1px solid white;
}
.third img{
    height: 100px;
    width: 100px;
    border-radius: 180px;
}
.cards-emily{
  margin-top: 110px;
    margin-left: 50px;
    margin-right: 50px;
}
.cards-emily h3{
  margin-top: 50px;
    /* margin-left: 50px; */
}
.cards-thomas h2{
  margin-top: 50px;
    margin-left: 50px;
}
.cards-thomas h3{
  margin-top: 50px;
    /* margin-left: 50px; */
}
.cards-thomas img{
  margin-top: 50px;
}
.cards-jennie{
  margin-top: 110px;
    margin-left: 50px;
}
.cards-jennie h3{
  margin-top: 50px;
    /* margin-left: 50px; */
}
/* .client h3{
    text-transform: uppercase;
    margin-left: 700px;
    color: cadetblue;
}
.emily{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 180px;
    margin-left: 250px;
    
}
.thomas{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 180px;
    margin-left: 350px; 
}
.jennie{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 180px;
    margin-left: 350px; 
}
.clientpara{
    display: flex;
    justify-content: left;
    
}
.cardsemily{
    display: block;
   height: 300px;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 100px;
    margin-top: 50px;
}
.cardsthomas{
     display: block;
   height: 300px;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 100px;
    margin-top: 50px;
}
.cardsjennie{
 display: block;
   height: 300px;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 100px;
    margin-top: 50px;
}
.cardsemily h3{
    margin-top: 100px;
    margin-left: 100px;
}
.cardsemily h5{
    margin-left: 100px;
}
.cardsthomas h3{
    margin-top: 100px;
    margin-left: 100px;
}
.cardsthomas h5{
    margin-left: 100px;
}
.cardsjennie h3{
    margin-left: 100px;
    margin-top: 100px;
}
.cardsjennie h5{
    margin-left: 100px;
} */
.four{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4,auto);
   
}
.four img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .bottle{
    background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-gallery-milkbottles.jpg);
}
.orange{
    background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-gallery-orange.jpg);
}
.cone{
     background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-gallery-cone.jpg);
}
.cubes{
     background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-gallery-sugarcubes.jpg);
} */
.five{
    width: 100%;
    height: 400px;
    background-color: cadetblue;
    margin-bottom: 50px;
    
}
.five h3{
    text-align: center;
}
.link{
    margin-top: 50px;
    margin-left: 700px;
    
}
.servicelink{
    margin-left: 30px;
}
.projectlink{
    margin-left: 30px;
}
.icons{
    margin-top: 100px;
    margin-left: 700px;
}
.instagram{
    margin-left: 30px;
}
.twitter{
    margin-left: 30px;
}
.pintrest{
    margin-left: 30px;
}
/* .paraclient{
    margin-top: 100px;
    margin-right: 1000px;
    margin-left: 30px;
    display: flex;

}
.emilypara{
    margin-left: 100px;
    display: flex;
}
.thomaspara{
    display: flex;
    margin-left: 400px;
}
.jenniepara{
    margin-left: 400px;
    display: flex;
} */
